@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes appear-slowly-from-top {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes appear-slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Montserrat";
  margin: 40px auto;
  margin-bottom: 0px;
}

a {
  color: #ff6060;
}

.max-res {
  max-width: 1440px;
  margin: 0 auto;
}

.layout-padding {
  padding: 0px 100px;
}
@media screen and (max-width: 768px) {
  .layout-padding {
    padding: 0px 20px;
  }
}

.logo img {
  height: 68px;
}
@media screen and (max-width: 768px) {
  .logo img {
    height: 47px;
  }
}

.navlinks ul {
  display: flex;
  list-style: none;
  font-size: 1.2em;
  line-height: 150%;
  color: #ff6060;
  font-weight: 500;
}
.navlinks ul li {
  margin-right: 50px;
}
.navlinks ul li:last-child {
  margin-right: 0;
}
.navlinks__link {
  text-decoration: none;
}
.navlinks__link--active {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navlinks {
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .navlinks ul li {
    margin-right: 20px;
  }
}

.house-card {
  flex-basis: 29.2%;
  height: 340px;
  position: relative;
  margin: 2%;
  transition: all 300ms;
}
.house-card:hover {
  transform: translateY(-10px);
}
.house-card__background {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.house-card img {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 10px 30px 0px #a3a2a2;
}
.house-card h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 3;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .house-card {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}

.host-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.host-card img {
  border-radius: 100%;
  height: 64px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 0px #a3a2a2;
}
.host-card p {
  color: #ff6060;
  font-size: 1.1em;
  max-width: 100px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .host-card {
    justify-content: center;
  }
  .host-card img {
    height: 32px;
  }
  .host-card p {
    max-width: 50px;
    margin: 0;
    margin-right: 10px;
  }
}

.tag {
  color: white;
  box-sizing: border-box;
  background-color: #ff6060;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  width: 115px;
  font-size: 0.8em;
  font-weight: 500;
}

.stars i {
  margin-right: 15px;
}
.stars i:last-child {
  margin-right: 0;
}
.stars__star {
  color: #e3e3e3;
  font-size: 1.5em;
}
.stars__star--active {
  font-size: 1.5em;
  color: #ff6060;
}
@media screen and (max-width: 768px) {
  .stars i {
    margin-right: 10px;
  }
  .stars__star {
    font-size: 0.8em;
  }
  .stars__star--active {
    font-size: 0.8em;
  }
}

.carroussel {
  position: relative;
}
.carroussel img {
  width: 100%;
  object-fit: cover;
  height: 415px;
  border-radius: 25px;
  box-shadow: 0px 10px 30px 0px #a3a2a2;
}
.carroussel__pictures-number {
  font-size: 1.1em;
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.carroussel__angle {
  font-size: 5em;
  position: absolute;
  top: 40%;
  color: white;
  transition: all 300ms;
  cursor: pointer;
}
.carroussel__angle:hover {
  opacity: 0.6;
}
.carroussel__angle--left {
  left: 2%;
}
.carroussel__angle--right {
  right: 2%;
}
@media screen and (max-width: 768px) {
  .carroussel img {
    height: 255px;
    border-radius: 10px;
  }
  .carroussel__angle {
    font-size: 2em;
  }
  .carroussel__pictures-number {
    display: none;
  }
}

.dropdown {
  margin-bottom: 45px;
}
.dropdown__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 50;
}
.dropdown__top__angle {
  font-size: 1.5em;
}
.dropdown__top__angle--reverse {
  font-size: 1.5em;
  transform: rotate(180deg);
}
.dropdown__drop {
  color: #ff6060;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 100%;
  min-height: 150px;
  height: 90%;
  box-shadow: 0px 30px 20px 0px #d4d4d4;
  animation: appear-slowly-from-top 300ms linear;
  transform-origin: top;
}
.dropdown__drop p {
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 150%;
}
.dropdown__drop ul {
  list-style: none;
  padding: 25px 15px 15px 15px;
  margin: 0;
  line-height: 150%;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 20px;
  }
}

.small-banner {
  height: 225px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}
.small-banner__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  border-radius: 25px;
}
.small-banner img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  box-shadow: 0px 5px 20px 0px #a3a2a2;
}
.small-banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 2em;
  font-weight: 500;
  line-height: 150%;
  transform: translate(-50%, -50%);
  color: white;
}
@media screen and (max-width: 768px) {
  .small-banner {
    height: 120px;
    margin-bottom: 30px;
  }
  .small-banner__background {
    border-radius: 10px;
  }
  .small-banner img {
    border-radius: 10px;
  }
  .small-banner h1 {
    font-size: 1.4em;
    left: 37%;
  }
}

.housing {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px 0px #d4d4d4;
  background-color: #f7f7f7;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .housing {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.house-informations {
  margin-bottom: 30px;
}
.house-informations__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.house-informations__top__left h1 {
  flex-basis: 50%;
  font-size: 2em;
  color: #ff6060;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 0;
}
.house-informations__top__left p {
  color: #ff6060;
  margin-top: 5px;
  font-size: 1.1em;
}
.house-informations__top__right {
  display: flex;
  flex-direction: column;
  align-items: right;
}
.house-informations__bottom {
  display: flex;
  justify-content: space-between;
}
.house-informations__bottom div {
  flex-basis: 48%;
}
@media screen and (max-width: 768px) {
  .house-informations__top {
    display: block;
  }
  .house-informations__top h1 {
    font-size: 1.2em;
  }
  .house-informations__top p {
    font-size: 0.8em;
  }
  .house-informations__top__right {
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .house-informations__bottom {
    display: block;
  }
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 100%;
}
.footer img {
  filter: brightness(0) invert(1);
}
.footer p {
  font-size: 1.4em;
}
@media screen and (max-width: 768px) {
  .footer p {
    font-size: 0.8em;
  }
}

.not-found {
  margin-bottom: 80px;
  text-align: center;
}
.not-found h1 {
  color: #ff6060;
  font-size: 15em;
  margin-top: 0px;
  margin-bottom: 40px;
}
.not-found p {
  font-size: 2em;
  margin-bottom: 90px;
  color: #ff6060;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .not-found h1 {
    margin-top: 50px;
    font-size: 5em;
    margin-bottom: 10px;
  }
  .not-found p {
    font-size: 1.2em;
    margin-bottom: 90px;
    color: #ff6060;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 150px;
  }
}

/*# sourceMappingURL=styles.css.map */
