.carroussel {
  position: relative;
  & img {
    width: 100%;
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px $alt4;
  }

  &__pictures-number {
    font-size: 1.1em;
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  &__angle {
    font-size: 5em;
    position: absolute;
    top: 40%;
    color: white;
    transition: all 300ms;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &--left {
      left: 2%;
    }

    &--right {
      right: 2%;
    }
  }

  @include mobile-design {
    & img {
      height: 255px;
      border-radius: 10px;
    }

    &__angle {
      font-size: 2em;
    }

    &__pictures-number {
      display: none;
    }
  }
}
