.navlinks {
  & ul {
    display: flex;
    list-style: none;
    font-size: 1.2em;
    line-height: 150%;
    color: $primary;
    font-weight: 500;
    & li:first-of-type {
      margin-right: 50px;
    }
  }
}
