body {
  font-family: "Montserrat";
  margin: 40px auto;
  margin-bottom: 0px;
}

a {
  color: $primary;
}

main {
}

.max-res {
  max-width: $max-resolution;
  margin: 0 auto;
}

.layout-padding {
  padding: 0px 100px;
}
