@keyframes appear-slowly-from-top {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes appear-slowly {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
