.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 100%;

  & img {
    filter: brightness(0) invert(1);
  }

  & p {
    font-size: 1.4em;
  }

  @include mobile-design {
    & p {
      font-size: 0.8em;
    }
  }
}
