.small-banner {
  height: 225px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: $max-resolution;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 25px;
  }

  & img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
    z-index: 1;
  }

  & h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 2em;
    font-weight: 500;
    line-height: 150%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
